@model FlairTickets.Web.Data.Entities.Airplane

@{
    ViewData["Title"] = "Create Airplane";
}

<h2><partial name="_GoBackFAIcon" /> Create</h2>

<h4><i class="fa fa-plane-up"></i> Airplane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            @* ModelState Errors. *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Airplane Model -->
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <!-- Name for the Airplane -->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Number of Seats -->
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>

            <!-- Photo -->
            <div class="mb-3">
                <label asp-for="PhotoGuid" class="control-label"></label>
                <!-- File input -->
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileInput" name="photoFile" onchange="showPreview(event)" />
                    <label class="custom-file-label" for="fileInput">Choose a file</label>
                </div>
                <!-- Show preview script -->
                <script>
                    const showPreview = (event) => {
                        $('#Photo').attr('src', URL.createObjectURL(event.target.files[0]));
                        $('#Photo').css('display', 'block');
                    }
                </script>
                <span asp-validation-for="PhotoGuid" class="text-danger"></span>
            </div>

            <hr />
            
            <!-- Save -->
            <div class="form-group">
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>

        </form>
    </div>

    <div class="col-md-8">
        <!-- Image preview -->
        <img alt="Image preview" id="Photo" class="mb-3" style="display: none; max-width: 256px; max-height: 256px;" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#fileInput').change(function () {
                var fileName = $(this).val().split('\\').pop(); // Get the file name without the path
                $('.custom-file-label').html(fileName);
                $('#selectedFileName').html(fileName);
            });
        });
    </script>
}
