@model FlairTickets.Web.Data.Entities.Airplane

@{
    ViewData["Title"] = "Edit Airplane";
}

<h2><partial name="_GoBackFAIcon" /> Edit</h2>

<h4><i class="fa fa-plane-up"></i> Airplane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            @* ModelState Errors. *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Airplane's Id *@
            <input type="hidden" asp-for="Id" />

            <!-- Airplane Model -->
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <!-- Name for the Airplane -->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- Number of Seats -->
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>

            <hr />

            <!-- Save -->
            <div class="form-group">
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
