@model FlairTickets.Web.Models.Account.CreateEmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            @if (ViewBag.Message != null)
            {
            <p class="text-success">@Html.Raw(ViewBag.Message)</p>
            }

            <div asp-validation-summary="ModelOnly"></div>

            <!-- Email -->
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Phone number -->
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <!-- Chosen Name -->
            <div class="form-group">
                <label asp-for="ChosenName"></label>
                <input asp-for="ChosenName" class="form-control" />
                <span asp-validation-for="ChosenName" class="text-danger"></span>
            </div>

            <!-- Full Name -->
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <!-- Document -->
            <div class="form-group">
                <label asp-for="Document"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>

            <!-- Address -->
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <p class="text-success">@ViewBag.UserMessage</p>

            <!-- Update -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
