@model FlairTickets.Web.Data.Entities.User

@{
    ViewData["Title"] = "Remove Employee";
}

<h2><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h2>

<h4><i class="fa fa-user"></i> @Model.FullName</h4>

<div>
    <hr />
    <partial name="_Display" />
    
    <hr />
    <p>Are you sure you want to remove @Model.ChosenName?</p>

    <form asp-action="Delete">
        <button class="btn btn-danger" value="@Model.Id">Remove Employee</button>
    </form>
</div>
