@model FlairTickets.Web.Data.Entities.User

@{
    ViewData["Title"] = "View Employee";
}

<h2><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h2>

<h4><i class="fa fa-user"></i> @Model.FullName</h4>
<hr />
<div>
    <partial name="_Display" />
</div>

<hr />
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
</div>
