@model FlairTickets.Web.Models.Account.EditEmployeeViewModel

@{
    ViewData["Title"] = "Update Employee";
}

<h2><partial name="_GoBackFAIcon" /> Update</h2>

<h4><i class="fa fa-user-pen"></i> Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">

            @* Message to User. *@
            @if (@ViewBag.Message != null)
            {
                <!-- Message to User -->
                <p class="text-success">@ViewBag.Message</p>
            }

            @* ModelState Errors. *@
            <div asp-validation-summary="ModelOnly"></div>

            @* Employee's Id *@
            <input type="hidden" asp-for="Id" />

            <!-- ChosenName -->
            <div class="form-group">
                <label asp-for="ChosenName"></label>
                <input asp-for="ChosenName" class="form-control" readonly />
            </div>

            <!-- Email -->
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <hr />

            <!-- Update -->
            <div class="form-group">
                <button class="btn btn-primary"><i class="fa fa-user-pen"></i> Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}