@model FlairTickets.Web.Data.Entities.Ticket

<h4>Ticket</h4>
<hr />
<form asp-action="@ViewData["Title"]">
    <div class="row">
        
        <div class="col-md-4">
            <h4>Flight</h4>
            <hr />

            <!-- Ticket's Flight Id -->
            <input type="hidden" name="flightId" value="@Model.Flight?.Id" />

            <partial name="/Views/Flights/_Display.cshtml" for="Flight" />
        </div>

        <div class="col-md-4">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <!-- Customer -->
                <h4>User</h4>
                <p>@Model.User?.ChosenName</p>

                <h4>Ticket</h4>

                <!-- Ticket Id -->
                <input type="hidden" asp-for="Id" />

                <!-- Ticket's Seat -->
                <div class="form-group">
                    <label asp-for="Seat" class="control-label"></label>
                    <input asp-for="Seat" class="form-control" min="0" max="@Model.Flight.Airplane.Seats" />
                    <span id="CheckingSeatErrorMessage" class="text-warning"></span>
                    <span id="CheckingIsSeatAvailable" class="text-gray">Checking availability...</span>
                    <span id="SeatIsntTaken" class="text-success"></span>
                    <span id="SeatIsTaken" class="text-danger"></span>
                </div>
            
                <!-- Submit -->
                <div class="form-group">
            <button id="btnSave" class="btn btn-primary">Save</button>
                </div>

        </div>

    </div>
</form>

<div>
    <a asp-controller="Flights" asp-action="Index">Back to Flights</a>
</div>