@model FlairTickets.Web.Models.Ticket.DisplayTicketViewModel

@{
    ViewData["Title"] = "Cancel ticket";
}

<h2><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h2>
<p>Are you sure you want to cancel this Ticket?</p>
<div>
    <partial name="_Display" />
    
    <form asp-action="Delete">
        <input asp-for="Id" hidden />
        <div class="form-group">
            <button type="submit" class="btn btn-danger"><i class="fa fa-square-xmark"></i> Confirm</button>
        </div>
    </form>
</div>
