@model FlairTickets.Web.Models.Ticket.DisplayTicketViewModel

@{
    ViewData["Title"] = "Cancel ticket";
}

<h2><partial name="_GoBackFAIcon" /> Cancel Ticket</h2>

<div>
    <h4>Are you sure you want to cancel this Ticket?</h4>
    <hr />

    <partial name="_Display" />
    
    <hr />

    <form asp-action="Delete">
        <input asp-for="Id" hidden />
        <button type="submit" class="btn btn-danger"><i class="fa fa-square-xmark"></i> Confirm</button>
    </form>
</div>
