@model FlairTickets.Web.Models.Ticket.DisplayTicketViewModel

@{
    ViewData["Title"] = "Ticket";
}

<h2><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h2>

<div>
    <partial name="_Display" />
</div>
<div>
    <div class="form-group">
        
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary@(Model.IsEditable ? "" : " disabled")"><i class="fa fa-edit"></i> Change seat</a>

        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger@(Model.IsDeletable ? "" : " disabled")"><i class="fa fa-xmark"></i> Cancel ticket</a>

    </div>
</div>
