@model FlairTickets.Web.Models.Ticket.InputTicketViewModel

@{
    ViewData["Title"] = "Change seat";
}

<h2><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h2>
<hr />
<form asp-action="Edit">
    <partial name="_Input" view-data="ViewData" />
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CheckTicketSeat");
    }
}