@model FlairTickets.Web.Models.Ticket.InputTicketViewModel

@{
    ViewData["Title"] = "Change seat";
}

<h1><partial name="_GoBackFAIcon" /> @ViewData["Title"]</h1>

<form asp-action="Edit">
<partial name="_Input" view-data="ViewData" />
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CheckTicketSeat");
                            }
}