@model FlairTickets.Web.Models.Entities.FlightViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_Input" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#OriginAirportId').prepend($('<option>', {
            text: "Select an Origin Airport",
            value: "0",
            selected: "true"
        }));

        $('#DestinationAirportId').prepend($('<option>', {
            text: "Select a Destination Airport",
            value: "0",
            selected: "true"
        }));

        $('#AirplaneId').prepend($('<option>', {
            text: "Select an Airplane",
            value: "0",
            selected: "true"
        }));
    </script>
}
