@model FlairTickets.Web.Models.Flight.DisplayFlightViewModel

@{
    ViewData["Title"] = "Delete Flight";
}

<h2><partial name="_GoBackFAIcon" /> Delete Flight</h2>

<div>
    <hr />
    <partial name="_Display" />
    
    <hr />
    <h4>Are you sure you want to delete this Flight?</h4>

    <form asp-action="Delete">
        <button class="btn btn-danger" value="@Model.Id"><i class="fa fa-trash"></i> Delete</button>
    </form>
</div>
