@model FlairTickets.Web.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight | <a asp-controller="Tickets" asp-action="Create" asp-route-flightId="@Model.Id">Buy Ticket</a></h4>
    <hr />
    <partial name="_Display" />
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
