@model FlairTickets.Web.Models.Flight.InputFlightViewModel

@{
    ViewData["Title"] = "Edit Flight";
}

<h1><partial name="_GoBackFAIcon" /> Edit</h1>

<h4><i class="fa fa-plane"></i> Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <partial name="_Input" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
