@model IEnumerable<FlairTickets.Web.Data.Entities.Flight>

@{
    ViewData["Title"] = "Flights";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<partial name="@($"_Table{ViewBag.Role}")" />