@model FlairTickets.Web.Models.Flight.DisplayFlightViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<h4>Flight | <a href="" data-toggle="modal" data-target="#modalLRForm">Buy Ticket</a></h4>*@
    <h4>Flight</h4>
    <p>In order to buy a Ticket, you need to Login or Sign up.</p>
    <hr />
    <partial name="_Display" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                            <i class="fas fa-user mr-1"></i>
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                            <i class="fas fa-user-plus mr-1"></i>
                            Register
                        </a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">

                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">

                            <div class="md-form form-sm mb-3">
                                <i class="fas fa-envelope prefix"></i>
                                <label data-error="wrong" data-success="right" for="modalLRInput1">Email</label>
                                <input type="email" id="modalLRInput1" class="form-control form-control-sm validate">
                            </div>

                            <div class="md-form form-sm mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <label data-error="wrong" data-success="right" for="modalLRInput2">Password</label>
                                <input type="password" id="modalLRInput2" class="form-control form-control-sm validate">
                            </div>

                            <div class="md-form form-sm mb-3">

                                <!-- Remember me? -->
                                <div class="form-check">
                                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label"></label>
                                </div>
                                <span asp-validation-for="RememberMe" class="text-danger"></span>

                                <!-- Forgot password? -->
                                <a asp-action="ForgotPassword" class="">Forgot password?</a>

                            </div>

                            <div class="mt-2">
                                <button class="btn btn-success">Login <i class="fas fa-sign-in ml-1"></i></button>
                            </div>

                        </div>

                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body">

                            <div class="md-form form-sm mb-3">
                                <i class="fas fa-envelope prefix"></i>
                                <label data-error="wrong" data-success="right" for="modalLRInput3">Email</label>
                                <input type="email" id="modalLRInput3" class="form-control form-control-sm validate">
                            </div>

                            <div class="md-form form-sm mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <label data-error="wrong" data-success="right" for="modalLRInput4">Password</label>
                                <input type="password" id="modalLRInput4" class="form-control form-control-sm validate">
                            </div>

                            <div class="md-form form-sm mb-3">
                                <i class="fas fa-lock prefix"></i>
                                <label data-error="wrong" data-success="right" for="modalLRInput5">Confirm password</label>
                                <input type="password" id="modalLRInput5" class="form-control form-control-sm validate">
                            </div>

                            <div class="form-sm mt-2">
                                <button class="btn btn-primary">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                            </div>

                        </div>
                        
                    </div>
                    <!--/.Panel 8-->

                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>*@

@section Scripts{
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#modalLRForm').modal("show");
        });
    </script>*@
}